
@{
    ViewBag.Title = "afterlogin";
}
@TempData["Message"]
<h2>afterlogin</h2>

<input type="button" value="train details" />
<input type="button" value="Reservation" />
<input type="button" value="cancel" />
